@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
    display: none;
}

/* font settings */

.cart-page h1 {
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(254, 246, 246);
    padding: 5px;
    margin: 0;
    text-align: center;
}

.cart-page h3 {
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    /* font-size: 30px; */
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

.cart-page h4 {
    font-family: 'Qwitcher Grypen', sans-serif;
    /* font-size: 20px; */
    color: #000000;
    text-align: center;
}

.cart-page h5 {
    font-family: 'Arapey', sans-serif;
    /* font-size: 18px; */
    margin: 5px;
    color: #ffffff;
}

.cart-page p{
    font-family: 'Arapey', sans-serif;
    font-size: 20px;
    margin: 5px;
    color: #000000;
    text-align: center;
}


.cart-page .footer p {
    font-family: 'Qwitcher Grypen', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

/* sidebar */

#sidebarToggle {
    display: none;
}

#sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 95%;
    background-color: #b0aeae;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 200;
}

#sidebarToggle:checked+#sidebar {
    left: 0;
}

.brand {
    font-family: 'Arapey', serif;
    font-size: 20px;
    /* font-weight: 700; */
    color: #000000;
    padding: 10px;
}

label {
    top: 15px;
    left: 15px;
    font-size: 30px;
    cursor: pointer;
    z-index: 300;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    /* padding-left: 15%; */
}


/* Navbar */
.navbar {
    display: flex;
    border-bottom: #4d4d4d64 1px solid;
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 200;
    background-color: white;
    width: 100%;
    justify-content: space-between;
}

.navbar .bi-cart{
    color: black;
}

.navbar .col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    height: 90px;
    z-index: 220;
}

.navbar img {
    height: 30px;
}

.navbar .heart {
    height: 20px;
    margin-right: 25px;
}

.navbar .home {
    margin-left: 15px;
}

/* cart-page */

.container{
    display: flex;
    justify-content: center;
}

.cart-page .main-heading{
    margin: 150px 0px 50px 0px;
    color: #000000;
}

.cart-page button{
    margin: 25px 0px;
    font-family: 'Arapey', sans-serif;
    padding: 5px 10px;
    background-color: #000000;
    color: #ffffff;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 50px;
    background-color: #ffffff;
    border-bottom: 2px solid #00000056;
    justify-content: space-between;
    width: 800px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
}

.cart-item p {
    margin: 0;
    flex-grow: 1;
}

.cart-info {
    display: flex;
    height: 100px;
}

.cart-info .original-price {
    color: #cdcece;
    text-decoration: line-through;
    margin-right: 10px;
}

.cart-info h3 {
    margin: 0;
    color: #000000;
}

.checkout{
    text-align: center;
}

.checkout-btn{
    font-size: 20px;
}

.emptyimg img{
    margin-top: 40px;
    width: 400px;
}

.cart-item .seccon .remove-btn {
    background-color: #cdcece;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.quantity {
    width: 30px;
    margin: 0;
    text-align: center;
    border: none;
}

.cart-item .quantity-controls .increase-btn, .cart-item .quantity-controls .decrease-btn {
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    margin: 0px;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* footer */
.footer .footer1 {
    background-color: #e8e8e8;
    color: #ffffff;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 40px;
    text-align: center;
}

.footer .footer2 {
    background-color: #c5e3ec;
    color: #ffffff;
    /* height: 400px; */
    margin: 10px;
    margin-top: 0px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.footer .footer1 .btn {
    background-color: #bec3c9;
    color: #ffffff;
}

.footer .footer1 .btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.footer .footer2 h5 {
    color: #ffffff;
}

.footer .footer2 h5:hover {
    color: #000000;
    transform: scaleY(1.1);
    transition: 0.5s;
}

.footer .footer2 .hover {
    text-align: center;
}

.footer .footer2 .hover:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* keyframes */

/* media tags */

@media screen and (max-width: 1024px) and (min-width: 501px) {
    .navbar img {
        height: 25px;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 25px;
    }

    .col-md-6 .heading {
        font-size: 25px;
    }

    .navbar .home {
        height: 25px;
    }

    .navbar .logo {
        height: 60px;
    }

    .footer1 h3 {
        letter-spacing: 5px;
    }

    .footer1 p,
    .footer2 p {
        font-size: 20px;
    }

    .footer2 h5 {
        font-size: 20px;
    }

    .navbar .heart {
        height: 20px;
    }

    .cart-page {
        justify-content: center;
    }

    .col-md-6 {
        width: 70%;
    }

}

@media screen and (max-width: 500px) {

    .navbar img {
        height: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    .col-md-6 .heading {
        font-size: 20px;
    }

    .navbar .home{
        color: black;
        height: 22px;
    }

    .navbar .logo {
        height: 50px;
    }

    .footer1 h3 {
        letter-spacing: 5px;
    }

    .footer1 p,
    .footer2 p {
        font-size: 15px;
    }

    .footer2 h5 {
        font-size: 15px;
    }

    .cart-item{
        padding: 30px;
        width: 280px;
    }

    .cart-item .seccon .remove-btn {
        margin-top: 10px;
        margin-bottom: 1px;
    }

    .cart-info h3 {
        font-size: 10px;
    }

    .cart-info p{
        font-size: 15px;
    }

    .cart-info span{
        font-size: 10px;
    }

    .cart-info p.type{
        font-size: 10px;
    }

}

@media screen and (max-width: 959px) and (min-width: 770px) {
     h1 {
        font-size: 60px;
    }

     h3 {
        font-size: 20px;
    }

    .cart-item{
        width: 750px;
    }
}

@media screen and (max-width: 769px) and (min-width: 500px) {
    .navbar img {
        height: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    .col-md-6 .heading {
        font-size: 20px;
    }

    .navbar .home {
        height: 22px;
    }

    .navbar .logo {
        height: 50px;
    }

    .footer1 h3 {
        letter-spacing: 5px;
    }

    .footer1 p,
    .footer2 p {
        font-size: 15px;
    }

    .footer2 h5 {
        font-size: 15px;
    }

    .navbar .heart {
        height: 15px;
    }

    .cart-page {
        justify-content: center;
    }

    .col-md-6 {
        width: 100%;
    }

    .cart-item {
        padding: 15px ;
        width: 500px;
    }

    .quantity-controls {
        width: 20px;
    }
}

@media screen and (max-width: 390px) {

    h1,
    .footer h1 {
        font-size: 30px;
    }

    h3,
    .footer h3 {
        font-size: 15px;

    }

    .navbar .home {
        height: 15px;
    }

    .navbar .logo {
        height: 30px;
    }

    .footer1 p,
    .footer2 p {
        font-size: 12px;
    }

    .footer2 h5 {
        font-size: 12px;
    }

    .foo .navbar .heart {
        height: 10px;
    }

}